.about-us__title{
  @include large-text;
  font-size: 25px;
  margin-bottom: 28px;
}
.about-us__text{
  @include large-text;
  font-size: 17px;
  line-height: 20px;
}
.about-us__item{
  max-height: 100px;
  display: grid;
  grid-template-rows: 50px 50px;
}
@media (min-width: 768px) {
  .about-us__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-us__title{
    margin-bottom: 41px;
    font-size: 43px;
    line-height: 50px;
  }
}
