.footer__wrapper{
  background-color: $background-grey;

}
.footer__logo--hide{
  display: none;
}
.copyright__text{
  @include large-text;
  font-size: 19px;
  line-height: 18px;

}
.footer__social-networks{
  display: flex;
  justify-content: space-around;
}

