.nav__text{
  @include large-text;
  line-height: 24px;
  font-size: 17px;
}
@media (min-width: 768px){
  .page-header__wrapper{
    display: flex;
    flex-direction: row;
  }
  .nav__item{
    display: inline;
  }
  .nav__text-search{
    display: none;
  }
  .page-header__button--hide{
    display: none;
  }
}

