.making-process__title{
  @include large-text;
  font-size: 17px;
  line-height: 24px;
}
.making-process__text{
  @include basic-text;
  line-height: 24px;
  font-size: 13px;
  color: $text-grey;
}
@media (min-width: 768px){
  .making-process__wrapper{
    display: flex;
    flex-direction: column;
  }
  .making-process__top{
    order: 1;
  }
  .making-process__video{
    order: 0;
  }
  .making-process__text{
    order: 2;
  }
  .making-process__button{
    width: 100%;
  }
}




