@media (min-width: 768px) {
  .write-us-main__type,
  .write-us-main__color,
  .write-us-main__name,
  .write-us-main__tel,
  .write-us-main__email,
  .write-us-main__extra{
    border: none;
    display: grid;
    grid-template-columns: 167px 1fr;
  }
  .write-us__submit{
    display: flex;
    justify-content: space-between;

  }
  .write-us__text{
    order: 1;
  }
}
.form__input{
  border: none;
}
.write-us-main__border{
  box-shadow: ;
}
.write-us-main__div{
  display: flex;
  flex-direction: column;
}
.write-us-main__decor{
  height: 1px;
  background-color: $tiffany;
  min-width: 200px;
  margin: auto 20px;
}
.write-us-main__top{
  display: flex;
  flex-direction: row;
}
.write-us-main__type-title,
.write-us-main__color-title,
.write-us-main__name-title,
.write-us-main__email-title,
.write-us-main__extra-title,
.write-us-main__tel-title{
  @include large-text;
  line-height: 16px;
  font-size: 17px;
  color: $tiffany;
}
.write-us-main__type-radio,
.write-us-main__color-name,
.write-us-main__name-text,
.write-us-main__type-name{
  @include large-text;
  line-height: 18px;
  font-size: 17px;
}
.write-us-main__name-input,
.write-us-main__extra-textarea,
.write-us-main__email-input,
.write-us-main__tel-input{
  @include basic-text;
  line-height: 18px;
  font-size: 17px;
  opacity: 0.3;
}
.write-us__text{
  @include basic-text;
  line-height: 16px;
  font-size: 14px;
  color: $text-grey;
}
